* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  background-color: #218380;
  padding: 15px;
  color: #ffffff;
}
main {
  border-radius: 20px;
  box-shadow: 5px 5px #e5e5e5;
  margin-top: 150px;
  margin-left: 140px;
  margin-right: 140px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: #e5e5e5;
}
button {
  background-color: #218380;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
main {
  line-height: 40px;
}
p {
  font-size: 16px;
}
.Highscores {
  border-radius: 20px;
  box-shadow: 5px 5px #e5e5e5;
  margin-top: 150px;
  margin-left: 600px;
  margin-right: 600px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: #e5e5e5;
}
.leaderboard,
.Time,
.Timer {
  display: inline-block;
  white-space: nowrap;
}
.Time, .Timer {
  float: right;
  margin-right: 80px;
}