* {
  margin: 0;
}
header {
  background-color: #218380;
  padding: 15px;
  color: #ffffff;
}
main {
  border-radius: 5px;
  box-shadow: 1px 1px 10px 10px #E5E5E5;
  margin: 100px;
  padding: 15px;
}
